<div class="container">
    <div class="ui-g">
        <form autocomplete="off" (ngSubmit)="pesquisar">
            <div class="ui-g-12">
                <h1>Cidades</h1>
            </div>

            <div class="ui-g-12 ui-fluid">
                <label>Nome da cidade</label>
                <input type="text" pInputText name="nome" [(ngModel)]="filtro.nome"/>
            </div>

            <div class="ui-g-12">
                <button pButton type="submit" label="Pesquisar"></button>
            </div>
        </form>
    </div>

    <div class="ui-g">
        <div class="ui-g-12">
            <p-table [value]="cidades" 
                    [paginator]="true" 
                    [rows]="filtro.itensPorPagina"
                    [totalRecords]="totalRegistros"
                    [lazy]="true"
                    [responsive]="true"
                    [onLazyLoad]="aoMudarPagina($event)">
                <ng-template pTemplate="header">
                    <tr>
                        <th class="col-id-header">#</th>
                        <th>Nome da cidade</th>
                        <th class="col-estado-header">Estado</th>
                        <th class="col-acoes-header">Ações</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-cid>
                    <tr>
                        <td class="col-id">{{cid.id}}</td>
                        <td>{{cid.nome}}</td>
                        <td class="col-estado">{{cid.estado}}</td>
                        <td class="col-acoes">
                            <a pButton icon="pi pi-pencil" pTooltip="Editar" tooltipPosition="top">
                            </a>
                            <button pButton icon="pi pi-trash" pTooltip="Excluir" tooltipPosition="top">
                            </button>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="4">
                            Nenhuma cidade encontrada.
                        </td>
                    </tr>
                </ng-template>
            </p-table>

        </div>
    </div>
</div>