.navbar{
    padding: 10px 0;
    background-color: #41C0BB;
}

.navbar-toggle {
    color: #2F4F4F;
}

.navbar-menu {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 210px;
    margin: 0;
    padding: 0;
    z-index: 9998;
    background-color: #266d6a;
    list-style: none;
}

.navbar-menuitem {
    padding: 15px;
}

.navbar-menuitem a {
    color: #F0FFF0;
    text-decoration: none;
}

.navbar-menuitem a:hover {
    color: #F0FFF0;
}

.navbar-usuario {
    padding: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #F0FFF0;
    text-transform: uppercase;
    font-weight: bold;
    color: #F0FFF0;
}